/** Reset */

* {
    margin: 0;
    padding: 0;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
        margin: 0;
        padding: 0;
        border: 0;
        outline: 0;
        font-weight: inherit;
        font-style: inherit;
        font-size: 100%;
        font-family: inherit;
        vertical-align: baseline;
}
/* remember to define focus styles! */
:focus {
        outline: 0;
}
body {
        line-height: 1;
        color: black;
         /*text-rendering: optimizeLegibility;*/
}
ol, ul {
        list-style: none;
}
/* tables still need 'cellspacing="0"' in the markup */
table {
        border-collapse: separate;
        border-spacing: 0;
}
caption, th, td {
        text-align: left;
        font-weight: normal;
}
blockquote:before, blockquote:after,
q:before, q:after {
        content: "";
}
blockquote, q {
        quotes: "" "";
}

/** Wireframe */

html, body {
    width: 100%;
    min-width: 800px;
    height: 100%;
    position: relative;
    margin: 0px;
    padding: 0px;
}
body {
    background: #FFF url(../img/exclusive_paper.png) fixed;
    font-size: 100%;
    font-family: "Arial Rounded MT Bold", "Helvetica Rounded", Arial, sans-serif;
}
div.container {
    margin: 0px auto;
    font-size: .75em;
    position: absolute;
    top: 0px; left: 100px; right: 100px; bottom: 0px;
    overflow: visible;
}
div.main {
	bottom: 20px;
}
div#header {
    width: 100%;
    height: 35px;
    overflow: visible !important;
    margin: 0px;
    padding: 0px;
    position: fixed;
    z-index: 1001;
    color: #777;
    color: rgba(0, 0, 0, .5);
    font-weight: bold;
    text-shadow: 0px 1px 0px rgba(255, 255, 255, 1);
	background: rgb(250,250,250); /* Old browsers */
	background: -moz-linear-gradient(top, rgba(250,250,250,1) 0%, rgba(228,228,228,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(250,250,250,1)), color-stop(100%,rgba(228,228,228,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, rgba(250,250,250,.7) 0%,rgba(228,228,228,.7) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, rgba(250,250,250,1) 0%,rgba(228,228,228,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, rgba(250,250,250,1) 0%,rgba(228,228,228,1) 100%); /* IE10+ */
	background: linear-gradient(top, rgba(250,250,250,1) 0%,rgba(228,228,228,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fafafa', endColorstr='#e4e4e4',GradientType=0 ); /* IE6-9 */
 	border-bottom: 1px #BBB solid;
    -moz-box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, .2);
    -webkit-box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, .2);
    box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, .2);
    white-space: nowrap; 
}
div#header::selection, div#header *::selection, div#content-left::selection, div#content-left *::selection {
	background: transparent; /* Safari */
}
div#header::-moz-selection, div#header *::-moz-selection, div#content-left::-moz-selection, div#content-left *::-moz-selection {
	background: transparent; /* Firefox */
}
div#header div#title {
    width: 200px;
    height: 100%;
    line-height: 165%;
    float: left;
    font-size: 22px;
    font-weight: normal;
    text-align: center;
    font-family: 'Sansita One';
    color: #0099CC;
    cursor: pointer;
    overflow: hidden;
    text-shadow: 1px 1px 1px #FFF;
    position: relative;
    z-index: 1;
}
div#header ul#places {
    white-space: nowrap;
    list-style: none;
    float: left;
    padding: 0px;
    height: 100%;
    margin: 0px auto;
    font-size: 12px;
    color: #777;
    overflow: visible;
}
div#header ul#places > li {
    min-height: 100%;
    line-height: 35px;
    float: left;
    padding: 0px 15px;
    margin: 0px;
    position: relative;
    cursor: pointer;
    border-left: 1px transparent solid;
    border-right: 1px transparent solid;
    font-size: 1.05em;
	text-shadow: 1px 1px 1px #FFF;
	transition: all 0.25s ease-in-out;
    -webkit-transition: all 0.25s ease-in-out;
    -moz-transition: all 0.25s ease-in-out;
}
div#header ul#places > li:not(.break):hover, div#header ul#places > li.active {
    background: #D0D0D0;
    background: rgba(0, 0, 0, .05);
    border: 1px #FFF solid;
    border: 1px rgba(255, 255, 255, .7) solid;
    border-top: none;
}
div#header ul#places > li:not(.break):hover {
    -moz-box-shadow: inset 0px 0px 3px rgba(0, 0, 0, .4);
    -webkit-box-shadow: inset 0px 0px 3px rgba(0, 0, 0, .4);
    box-shadow: inset 0px 0px 3px rgba(0, 0, 0, .4), 0px 0px 7px rgba(0, 0, 0, .25);
    border-bottom: none;
}
div#header ul#places > li.break {
    cursor: default;
}
div#header ul#places > li.active, div#header ul#places > li.active:hover {
    border-bottom: 1px rgba(0, 0, 0, .1) solid;
    border-bottom: 1px rgba(0, 153, 204, 1) solid;
    -moz-box-shadow: inset 0px 0px 3px rgba(0, 0, 0, .4), 0px 0px 6px rgba(0, 0, 0, .2);
    -webkit-box-shadow: inset 0px 0px 3px rgba(0, 0, 0, .4), 0px 0px 6px rgba(0, 0, 0, .2);
    box-shadow: inset 0px 0px 3px rgba(0, 0, 0, .4), 0px 0px 6px rgba(0, 0, 0, .2)/*, 0px 0px 2px rgba(0, 153, 204, 1)*/;
}
div#header ul#places > li > a {
    color: inherit;
    text-decoration: none;
    font-weight: 500;
}
div#header ul#places > li > a > img {
    vertical-align: middle;
    position: relative;
    top: -2px;
}
div#header div#search {
    white-space: nowrap;
    float: left;
    padding: 0px;
    height: 100%;
    margin: 0px auto;
    line-height: 35px;
}
div#header div#search input[type=text] {
	margin: 0px 10px;
}
div#header div#search select {
	margin: 3px;
	color: #555;
}

div#header div#musicpanel {
	float: right;
	line-height: 35px;
	position: relative;
	z-index: 1001;
}
div#header div#musicpanel button {
	background: none;
	border: none;
}
div#header div#musicpanel button:hover {
	box-shadow: none;
}
div#header div#musicpanel .ui-state-default {
	box-shadow: none;
}
div#header div#musicpanel div.bar {
	width: 100px;
	height: 9px;
	background: red;
	display: inline-block;
	position: relative;
	top: 1px;
	background: rgba(0, 0, 0, .2);
}
div#header div#musicpanel div.bar > div.bar {
	height: 8px;
	position: absolute;
}
div#header div#musicpanel div.bar > div.bar#seek-loading {
	background: rgba(0, 0, 0, .1);
	z-index: 5;
	width: 0px;
}
div#header div#musicpanel div.bar > div.bar#seek-loaded {
	background: #0099cc;
	z-index: 6;
	width: 0px;
}
div#header div#musicpanel .ui-slider {
	z-index: 101;
	display: inline-block;
	min-width: 100px;
}
/*
div#header div#musicpanel button .ui-button-icon-primary {
	margin: 0 auto;
}
*/

div#content {
    position: absolute;
    top: 35px; left: 0px; right: 0px; bottom: 0px;
    overflow: visible;
}
div#content div#content-left {
    position: fixed;
    top: 35px;
    bottom: 60px;
    width: 200px;
    background: #ECECEC;
    box-shadow: 0px 0px 1px rgba(0, 0, 0, .2), 0px 0px 4px rgba(0, 0, 0, .2) inset, 0px 0px 10px rgba(255, 255, 255, .9);
    overflow: visible;
    border: 1px rgba(0, 0, 0, .14) solid;
    border-top: none;
    border-bottom: none;
    background: rgba(0, 0, 0, .07);
    overflow-x: hidden;
    overflow-y: auto;
}
div#content-left label.title {
	font-weight: bold;
	display: block;
	color: #444;
	text-align: left;
	font-size: 1.1em;
	text-shadow: 1px 1px 1px rgba(255, 255, 255, .6);
	margin: 8px 0px;
}
div#content-left p {
	margin: 5px 0px 5px 3px;
	color: #444;
}
div#content-left div#filters-container .ui-corner-all {
	border-radius: 0px;
}
div#content-left div#filters-container .ui-button {
	margin-top: 0px;
	width: 100%;
	text-align: left;
	background: #EEE;
	border: none;
	border: 1px #BFBFBF solid;
	border-bottom: none;
	box-shadow: 0px -5px 5px -4px rgba(0, 0, 0, .1) inset;
	border-radius: none;
}
div#content-left div#filters-container .ui-button:active {
	box-shadow: 0px -5px 5px -4px rgba(0, 0, 0, .1) inset;
}
div#content-left div#filters-container div#filters {
	margin: 8px 4px;
}
div#content-left div#filters-container .ui-button:first-child {
	border-top: 0px;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
}
div#content-left div#filters-container .ui-button:last-child {
	border-bottom: 0px;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
}
div#content-left .ui-button-text-only .ui-button-text  {
	padding: .2em;
}
div#filters ul {
	background: rgba(255, 255, 255, .6);
	padding: 4px;
	margin: 0px -2px 0px 0px;
	padding: 10px 0px;
	border: 1px #BFBFBF solid;
	border-bottom: none;
	box-shadow: 0px 2px 2px rgba(0, 0, 0, .05) inset, 0px -2px 2px rgba(0, 0, 0, .05) inset;
}
div#content-left input[type=text]#search {
	width: 93%;
	height: 17px;
	outline: none;
	box-shadow: 0px 0px 1px 1px rgba(255, 255, 255, .6), 0px 2px 1px rgba(0, 0, 0, .1) inset;
    transition: all 0.25s ease-in-out;
    -webkit-transition: all 0.25s ease-in-out;
    -moz-transition: all 0.25s ease-in-out;
    background: rgba(255, 255, 255, .85);
    border: 1px #AAA solid;
    border: 1px rgba(0, 0, 0, .25) solid;
    padding: 2px;
    margin: 4px;
    color: #777;
    color: rgba(0, 0, 0, .5);
    border-radius: 20px;
}
div#content-left div#search div#thumbnail-size {
	width: 90%;
	margin: 0px auto;
}
div#content-left div#search p {
	display: block;
	margin: 10px;
}
div#content div#content-right {
	min-height: 100%;
	position: absolute;
	display: inline-block;
	margin-left: 200px;
	top: 0px; left: 0px; right: 0px; bottom: 0px;
	padding: 8px;
}
div#content-right div.title {
	font-family: Interstate, "Lucida Grande", Helvetica, Arial, sans-serif;
	font-size: 22px;
	color: #0099CC;
}
div#content-right div.title:first-letter {
	text-transform: uppercase;
}
div#searchresults {
	display: block;
}

div#loadhere {
	margin: 0px auto;
	padding-bottom: 100px;
}
div#loading {
	margin: 5% auto;
	text-align: center;
	text-transform: uppercase;
	line-height: 50px;
	font-weight: 800;
	color: #999;
	color: rgba(0, 0, 0, .5);
	text-shadow: 1px 1px 1px #FFF;
}
.ball {
	background-color: rgba(0,0,0,0);
	border:5px solid rgba(0,153,259,0.9);
	opacity:.7;
	border-top:5px solid rgba(0,0,0,0);
	border-left:5px solid rgba(0,0,0,0);
	border-radius:50px;
	/* box-shadow: 0 0 35px #2187e7; */
	width:50px;
	height:50px;
	margin:0 auto;
	-moz-animation:spin 1s infinite linear;
	-webkit-animation:spin 1s infinite linear;
}
.ball1 {
	background-color: rgba(0,0,0,0);
	border:5px solid rgba(0,153,254,0.9);
	opacity:.7;
	border-top:5px solid rgba(0,0,0,0);
	border-left:5px solid rgba(0,0,0,0);
	border-radius:50px;
	/* box-shadow: 0 0 15px #2187e7; */
	width:30px;
	height:30px;
	margin:0 auto;
	position:relative;
	top:-50px;
	-moz-animation:spinoff 1s infinite linear;
	-webkit-animation:spinoff 1s infinite linear;
}
@-moz-keyframes spin {
	0% { -moz-transform:rotate(0deg); }
	100% { -moz-transform:rotate(360deg); }
}
@-moz-keyframes spinoff {
	0% { -moz-transform:rotate(0deg); }
	100% { -moz-transform:rotate(-360deg); }
}
@-webkit-keyframes spin {
	0% { -webkit-transform:rotate(0deg); }
	100% { -webkit-transform:rotate(360deg); }
}
@-webkit-keyframes spinoff {
	0% { -webkit-transform:rotate(0deg); }
	100% { -webkit-transform:rotate(-360deg); }
}
div.list div.item {
	width: 100%;
	height: 182px;
	margin: 5px 0px;
}
div.wall div.item {
	width: 182px;
	height: 182px;
	margin: 1px;
	cursor: pointer;
	background: rgba(0, 0, 0, .2);
}
div.item {
	box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
	position: relative;
	/* float: left; */
	display: inline-block;
	overflow: hidden;
	line-height: 20px !important;
	font-family: "Signika Negative", Arial, Verdana, sans-serif;
	text-align: left;
	font-size: 16px;
	color: #353535;
}
div.item a {
	color: #555;
	font-weight: bold;
}
div.item h2 {
	font-weight: bold;
	margin: 3px;
}
.item > .thumb {
	width: 182px;
	height: 182px;
	float: left;
}
.item > .thumb > img {
	width: 182px;
	height: 182px;
}
.item > .desc {
	float: left;
	overflow: hidden;
	padding: 2px;
}
.wall > .item > .desc {
	width: 182px;
	height: 182px;
	background: rgba(255, 255, 255, .8);
	position: absolute;
	left: 187px;
}
.item > .desc2 {
	left: 0px;
	float: left;
	overflow: hidden;
}
.item > .more {
	width: 100%;
	height: 26px;
	position: absolute;
	bottom: -26px;
	background: rgba(0, 0, 0, .75);
	line-height: 26px;
	color: #FFF;
	text-align: center;
}
.item > .more img {
	width: 16px;
	height: 16px;
	margin: 4px 7px;
}
.item > .more img.pause {
	display: none;
}
div#filters {
	margin: 1em;
}
div#filters button {
	width: 100%;
	text-align: left;
	margin-bottom: .4em;
}
div#filters div.popup {
	width: 85%;
	margin: 0 auto;
	margin-top: -.4em;
	padding: 10px 2px 2px 2px;
	background: #FFF;
	border: 1px #CCC solid;
	position: absolute;
	z-index: 3;
	display: none;
	border-bottom-left-radius: .5em;
	border-bottom-right-radius: .5em;
}
div#filters div.popup > span {
	display: block;
	margin-bottom: 5px;
	color: #444;
}

#views-container .ui-button .ui-icon.ui-display-wall {
	background: url(../img/list_wall.png);
}
#views-container .ui-button .ui-icon.ui-display-list {
	background: url(../img/list_bullets.png);
}
#views-container .ui-button-text {
	margin-left: 5px;
	margin-top: 1px;
}
#views-container p {
	padding: 5px 0;
}
/*
.ui-button-text {
	margin: 2px 0 2px 5px;
}
*/

/*
#modal-cover {
	position: fixed;
	top: 0; left: 0; right: 0; bottom: 0;
	background: rgba(255, 255, 255, .6);
	z-index: 999;
	display: none;
}
#modal {
	position: fixed;
	top: 40px;
	left: 200px;
	right: 200px;
	bottom: 40px;
	z-index: 1000;
	background: #FFF;
	border: 1px rgba(0, 0, 0, .3) solid;
	box-shadow: 0 0 15px rgba(0, 0, 0, .3);
	display: none;
	min-width: 80%;
}
#modal > #close {
	position: absolute;
	top: 0; right: 0;
	width: 16px;
	height: 16px;
	line-height: 20px;
	font-size: 12px;
	font-family: verdana, sans-serif;
	cursor: pointer;
	color: #555;
}
*/

.modal {
	position: fixed;
	top: 200px;
	left: 400px;
	right: 400px;
	bottom: 40px;
	z-index: 1000;
	background: #FFF;
	border: 1px rgba(0, 0, 0, .3) solid;
	box-shadow: 0 0 15px rgba(0, 0, 0, .3);
	display: none;
	min-width: 60%;
}
.ui-widget-overlay {
	background: rgba(255, 255, 255, .7);
}
.item-shadow {
    background: url("http://static.tumblr.com/njty47g/yu0leufgq/post_shadow.png") no-repeat scroll left top transparent;
    bottom: -10px;
    display: block;
    height: 10px;
    left: 0;
    position: absolute;
    width: 100%;
    z-index: 2;
}
/*
#player {
	position: absolute;
	left: -1000px;
	top: -1000px;
	z-index: -1000;
}
*/
