/** TOOLTIPS */

.tooltip {
    display: inline;
    position: relative;
}
.tooltip:hover {
    text-decoration: none;
}
.tooltip:hover:after {
    background: #111;
    background: rgba(0,0,0,.5);
    border-radius: 5px;
    bottom: 18px;
    color: #fff;
    content: attr(title);
    text-shadow: #000 1px 1px 1px;
    display: block;
    left: 50%;
    position: absolute;
    white-space: nowrap;
    z-index: 98;
    padding: 0px 10px;
}
.tooltip.bottom:hover:after {
    bottom: -40px;
}
.tooltip:hover:before {
    border: solid;
    border-color: #111 transparent;
    border-color: rgba(17, 17, 17, .5) transparent;
    border-width: 6px 6px 0 6px;
    bottom: 12px;
    content: "";
    display: block;
    left: 75%;
    position: absolute;
    z-index: 99;
}
.tooltip.bottom:hover:before {
    border: solid;
    border-color: #111 transparent;
    border-color: rgba(17, 17, 17, .5) transparent;
    border-width: 0px 6px 6px 6px;
    bottom: -15%;
    content: "";
    display: block;
    left: 75%;
    position: absolute;
    z-index: 99;
}

/** FONT OPTIONS */
.blur {
    color: transparent !important;
    text-shadow: 0 0 5px rgba(0, 0, 0, .25) !important;
}
.normal {
    font-weight: normal !important;
}
.bold {
    font-weight: bold !important;
}
.light {
    font-weight: lighter !important;
}
.italic {
    font-style: italic !important;
}
.oblique {
    font-style: oblique !important;
}
.underline {
    text-decoration: underline !important;
}
.overline {
    text-decoration: overline !important;
}
.line-through {
    text-decoration: line-through !important;
}
.times-new-roman {
    font-family: Cambria, "Hoefler Text", Utopia, "Liberation Serif", "Nimbus Roman No9 L Regular", Times, "Times New Roman", serif !important;
}
.georgia {
    font-family: Constantia, "Lucida Bright", Lucidabright, "Lucida Serif", Lucida, "DejaVu Serif", "Bitstream Vera Serif", "Liberation Serif", Georgia, serif !important;
}
.garamond {
    font-family: "Palatino Linotype", Palatino, Palladio, "URW Palladio L", "Book Antiqua", Baskerville, "Bookman Old Style", "Bitstream Charter", "Nimbus Roman No9 L", Garamond, "Apple Garamond", "ITC Garamond Narrow", "New Century Schoolbook", "Century Schoolbook", "Century Schoolbook L", Georgia, serif  !important;
}
.helvetica {
    font-family: Frutiger, "Frutiger Linotype", Univers, Calibri, "Gill Sans", "Gill Sans MT", "Myriad Pro", Myriad, "DejaVu Sans Condensed", "Liberation Sans", "Nimbus Sans L", Tahoma, Geneva, "Helvetica Neue", Helvetica, Arial, sans serif !important;
}
.verdana {
    font-family: Corbel, "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", "DejaVu Sans", "Bitstream Vera Sans", "Liberation Sans", Verdana, "Verdana Ref", sans serif !important;
}
.trebuchet {
    font-family: "Segoe UI", Candara, "Bitstream Vera Sans", "DejaVu Sans", "Bitstream Vera Sans", "Trebuchet MS", Verdana, "Verdana Ref", sans serif !important;
}
.impact {
    font-family: Impact, Haettenschweiler, "Franklin Gothic Bold", Charcoal, "Helvetica Inserat", "Bitstream Vera Sans Bold", "Arial Black", sans serif !important;
}
.monospace {
    font-family: Consolas, "Andale Mono WT", "Andale Mono", "Lucida Console", "Lucida Sans Typewriter", "DejaVu Sans Mono", "Bitstream Vera Sans Mono", "Liberation Mono", "Nimbus Mono L", Monaco, "Courier New", Courier, monospace !important;
}
.capitalize {
    text-transform: capitalize !important;
}
.uppercase {
    text-transform: uppercase !important;
}
.lowercase {
    text-transform: lowercase !important;
}

/** FORM ELEMENTS */

input[type=text] {
    border: 1px #AAA solid;
    border: 1px rgba(0, 0, 0, .25) solid;
    padding: 2px;
    margin: 4px;
    color: #777;
    color: rgba(0, 0, 0, .5);
    width: 100%;
}
input[type=text].white {
    background: #FFF;
    box-shadow: 0px 0px 1px 1px #FFF, 0px 2px 1px rgba(0, 0, 0, .1) inset;
}
input[type=text].white:hover {
    box-shadow: 0px 0px 1px 1px #FFF, 0px 2px 5px rgba(0, 0, 0, .2) inset;
}
input[type=text].white:focus {
    box-shadow: 0px 0px 1px 1px #FFF, 0px 2px 5px rgba(0, 0, 0, .25) inset;
}
input[type=text],
input[type=text].small {
    width: 155px;
    height: 21px;
}
input[type=text].medium {
    width: 175px;
    height: 23px;
}
input[type=text].large {
    width: 205px;
    height: 25px;
}

/* Corner Styles */

.round {
    border-radius: .5em;
}
.pill {
    border-radius: 2em;
}
.side {
    border-radius: 2em / 5em;
}
.left {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    margin-right: 0;
    border-right: none;
}
.bottom-left {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border-top-left-radius: 0;
    margin-right: 0;
    border-right: none;
}
.top-left {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
    margin-right: 0;
    border-right: none;
}
.middle {
    border-radius: 0;
    margin: 0;
    border-right: none;
    border-left: none;
}
.right {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    margin-left: 0;
    border-left: none;
}
.bottom-right {
    border-top-right-radius: 0;
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
    border-bottom-right-radius: 1em;
    margin-left: 0;
    border-left: none;
}
.top-right {
    border-top-left-radius: 0;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
    margin-left: 0;
    border-left: none;
}

/** BUTTONS */

button,
.button {
    font-size: 1em;
    cursor: pointer;
}
button:active,
.button:active {
    background: -moz-linear-gradient(top, rgba(0, 0, 0, .15) 0%, rgba(0, 0, 0, .1) 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0, 0, 0, .15)), color-stop(100%,rgba(0, 0, 0, .1)));
}

/* Colors */

button.white,
.button.white {
    background: #FFFFFF;
    background: -moz-linear-gradient(top, #FFFFFF 0%, #f4f1eb 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#FFFFFF), color-stop(100%,#f4f1eb));
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#FFFFFF', endColorstr='#f4f1eb',GradientType=0 );
    border: 1px #e0d9c7 solid;
    border: 1px rgba(0, 0, 0, .2) solid;
    color: #231b08;
    color: rgba(0, 0, 0, .5);
    text-shadow: #FFF 1px 1px 1px;
}
button.white:not(.bevel):hover,
.button.white:not(.bevel):hover {
    background: #D0D0D0;
    background: -moz-linear-gradient(top, #f4f1eb 0%, #FFFFFF 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f4f1eb), color-stop(100%,#FFFFFF));
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f4f1eb', endColorstr='#FFFFFF',GradientType=0 );
}
button.grey,
.button.grey {
    border: 1px #C0C0C0 solid;
    background: #DFDFDF;
    background: -moz-linear-gradient(top, #FDFDFD 0%, #DFDFDF 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#FDFDFD), color-stop(100%,#DFDFDF));
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#FDFDFD', endColorstr='#DFDFDF',GradientType=0 );
    color: #6a6a6a;
    text-shadow: 0 1px 1px #FFF;
}
button.grey:hover,
.button.grey:hover {
    background: #D0D0D0;
    background: -moz-linear-gradient(top, #F1F1F1 0%, #D0D0D0 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#F1F1F1), color-stop(100%,#D0D0D0));
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#F1F1F1', endColorstr='#D0D0D0',GradientType=0 );
}
button.lblue,
.button.lbue:hover {
	background: #19a7f5;
    background: -moz-linear-gradient(top, #19a7f5 0%, #0886fc 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#19a7f5), color-stop(100%,#0886fc));
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#19a7f5', endColorstr='#0886fc',GradientType=0 );
    border: 1px rgba(0, 0, 0, .1) solid;
    color: #FFF;
    text-shadow: rgba(0, 0, 0, .3) 1px 1px 1px;
    box-shadow: inset 0px 1px 0px 0px rgba(255, 255, 255, .5);
}
button.lblue:active,
.button.lblue:active {
	padding-top: 1px;
}
button.blue,
.button.blue:hover {
    background: #3bb6e3;
    background: -moz-linear-gradient(top, #3bb6e3 0%, #1e99d6 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#3bb6e3), color-stop(100%,#1e99d6));
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3bb6e3', endColorstr='#1e99d6',GradientType=0 );
    border: 1px rgba(0, 0, 0, .1) solid;
    color: #FFF;
    text-shadow: rgba(0, 0, 0, .3) 1px 1px 1px;
    box-shadow: inset 0px 1px 0px 0px rgba(255, 255, 255, .5);
}
button.blue:hover,
.button.blue:hover {
    background: #0886fc;
    background: -moz-linear-gradient(top, #0886fc 0%, #19a7f5 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#0886fc), color-stop(100%,#19a7f5));
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0886fc', endColorstr='#19a7f5',GradientType=0 );
}
button.lightblack,
.button.lightblack {
    background: #686c6e;
    background: -moz-linear-gradient(top, #686c6e 0%, #525457 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#686c6e), color-stop(100%,#525457));
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#686c6e', endColorstr='#525457',GradientType=0 );
    border: 1px rgba(0, 0, 0, .1) solid;
    color: #FFF;
    text-shadow: rgba(0, 0, 0, .3) 1px 1px 1px;
    box-shadow: inset 0px 1px 0px 0px rgba(255, 255, 255, .2);
}
button.lightblack:hover,
.button.lightblack:hover {
    background: #525457;
    background: -moz-linear-gradient(top, #525457 0%, #686c6e 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#525457), color-stop(100%,#686c6e));
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#525457', endColorstr='#686c6e',GradientType=0 );
}
button.firefox,
.button.firefox {
    background: #FBFCFD;
    background: -moz-linear-gradient(top, #FBFCFD 0%, #EEF4F9 50%, #E5EDF2 51%, #E4EEF4 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#FBFCFD), color-stop(50%,#EEF4F9), color-stop(51%,#E5EDF2), color-stop(100%,#E4EEF4));
    background: -webkit-linear-gradient(top, #FBFCFD 0%,#EEF4F9 50%,#E5EDF2 51%,#E4EEF4 100%);
    background: -o-linear-gradient(top, #FBFCFD 0%,#EEF4F9 50%,#E5EDF2 51%,#E4EEF4 100%);
    background: -ms-linear-gradient(top, #FBFCFD 0%,#EEF4F9 50%,#E5EDF2 51%,#E4EEF4 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#FBFCFD', endColorstr='#E4EEF4',GradientType=0 );
    background: linear-gradient(top, #FBFCFD 0%,#EEF4F9 50%,#E5EDF2 51%,#E4EEF4 100%);  
    border: 1px solid #bcc9cf;
    color: #6b7983;
    -moz-box-shadow:inset 0 0 4px #ffffff;
    -webkit-box-shadow:inset 0 0 4px #ffffff;
    box-shadow:inset 0 0 4px #ffffff;
    cursor: pointer;
    text-shadow: 0px 1px 0px #ffffff;
}
button.firefox:hover,
.button.firefox:hover {
    -moz-box-shadow: 0px 0px 5px #aeedff;
    -webkit-box-shadow: 0px 0px 5px #aeedff;
    box-shadow: 0px 0px 5px #aeedff;
    border: 1px solid #61bacc;
    background: #EEF7F9;
    background: -moz-linear-gradient(top, #EEF7F9 0%, #DAF0F5 50%, #C3E4EC 51%, #C3E4EC 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#EEF7F9), color-stop(50%,#DAF0F5), color-stop(51%,#C3E4EC), color-stop(100%,#C3E4EC));
    background: -webkit-linear-gradient(top, #EEF7F9 0%,#DAF0F5 50%,#C3E4EC 51%,#C3E4EC 100%);
    background: -o-linear-gradient(top, #EEF7F9 0%,#DAF0F5 50%,#C3E4EC 51%,#C3E4EC 100%);
    background: -ms-linear-gradient(top, #EEF7F9 0%,#DAF0F5 50%,#C3E4EC 51%,#C3E4EC 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#EEF7F9', endColorstr='#C3E4EC',GradientType=0 );
    background: linear-gradient(top, #EEF7F9 0%,#DAF0F5 50%,#C3E4EC 51%,#C3E4EC 100%);
    text-shadow: 0px 1px 0px #ddeff5;
}

/* Sizes */

button.xsmall,
.button.xsmall {
    width: 55px;
    height: 20px;
    font-size: .9em;
}
button.small,
.button.small {
    width: 65px;
    height: 24px;
    font-size: 1em !important;
}
button.medium,
.button.medium {
    min-width: 80px;
    width: auto;
    height: 30px;
    font-size: 1.1em;
    padding: 5px;
}
button.large,
.button.large {
    width: 105px;
    height: 40px;
    font-size: 1.2em;
}
button.xlarge,
.button.xlarge {
    width: 120px;
    height: 50px;
    font-size: 1.3em;
}

/* Styles */

button.bevel,
.button.bevel {
    box-shadow: 0px -.30em 0px 0px rgba(0, 0, 0, .15) inset, 0px -.30em 0em 1px rgba(255, 255, 255, .4) inset, 0px 3px 5px 0px rgba(0, 0, 0, .1);
    z-index: 1;
    padding-top: 3px;
}
button.bevel:not(.multi):active,
.button.bevel:not(.multi):active {
    box-shadow: 0px 0px 2em rgba(0, 0, 0, .05) inset;
}
button.bevel:active:before,
.button.bevel:active:before {
    box-shadow: 0px 0px 1px #FFF inset, inset 0px -2px 0px 0px rgba(0, 0, 0, .1);
}
button.bevel:active,
.button.bevel:active {
	padding-top: 5px;
}

button.bevel.blue,
.button.bevel.blue {
    box-shadow: 0px -.30em 0px 0px rgba(0, 0, 0, .3) inset, 0px -.30em 0em 1px rgba(255, 255, 255, .2) inset, 0px 3px 5px 0px rgba(0, 0, 0, .1);
}
button.firefox.bevel:hover,
.button.firefox.bevel:hover {
    -moz-box-shadow: 0px 0px 5px #aeedff, 0px -.30em 0px 0px rgba(0, 0, 0, .15) inset, 0px -.30em 0em 1px rgba(255, 255, 255, .4) inset, 0px 3px 5px 0px rgba(0, 0, 0, .1);
    -webkit-box-shadow: 0px 0px 5px #aeedff, 0px -.30em 0px 0px rgba(0, 0, 0, .15) inset, 0px -.30em 0em 1px rgba(255, 255, 255, .4) inset, 0px 3px 5px 0px rgba(0, 0, 0, .1);
    box-shadow: 0px 0px 5px #aeedff, 0px -.30em 0px 0px rgba(0, 0, 0, .15) inset, 0px -.30em 0em 1px rgba(255, 255, 255, .4) inset, 0px 3px 5px 0px rgba(0, 0, 0, .1);
    border: 1px solid #61bacc;
    background: #EEF7F9;
    background: -moz-linear-gradient(top, #EEF7F9 0%, #DAF0F5 50%, #C3E4EC 51%, #C3E4EC 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#EEF7F9), color-stop(50%,#DAF0F5), color-stop(51%,#C3E4EC), color-stop(100%,#C3E4EC));
    background: -webkit-linear-gradient(top, #EEF7F9 0%,#DAF0F5 50%,#C3E4EC 51%,#C3E4EC 100%);
    background: -o-linear-gradient(top, #EEF7F9 0%,#DAF0F5 50%,#C3E4EC 51%,#C3E4EC 100%);
    background: -ms-linear-gradient(top, #EEF7F9 0%,#DAF0F5 50%,#C3E4EC 51%,#C3E4EC 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#EEF7F9', endColorstr='#C3E4EC',GradientType=0 );
    background: linear-gradient(top, #EEF7F9 0%,#DAF0F5 50%,#C3E4EC 51%,#C3E4EC 100%);
    text-shadow: 0px 1px 0px #ddeff5;
}
button.firefox.bevel:active,
.button.firefox.bevel:active {
    -moz-box-shadow: 0px 0px 5px #aeedff;
    -webkit-box-shadow: 0px 0px 5px #aeedff;
    box-shadow: 0px 0px 5px #aeedff;
    border: 1px solid #61bacc;
    background: #EEF7F9;
    background: -moz-linear-gradient(top, #EEF7F9 0%, #DAF0F5 50%, #C3E4EC 51%, #C3E4EC 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#EEF7F9), color-stop(50%,#DAF0F5), color-stop(51%,#C3E4EC), color-stop(100%,#C3E4EC));
    background: -webkit-linear-gradient(top, #EEF7F9 0%,#DAF0F5 50%,#C3E4EC 51%,#C3E4EC 100%);
    background: -o-linear-gradient(top, #EEF7F9 0%,#DAF0F5 50%,#C3E4EC 51%,#C3E4EC 100%);
    background: -ms-linear-gradient(top, #EEF7F9 0%,#DAF0F5 50%,#C3E4EC 51%,#C3E4EC 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#EEF7F9', endColorstr='#C3E4EC',GradientType=0 );
    background: linear-gradient(top, #EEF7F9 0%,#DAF0F5 50%,#C3E4EC 51%,#C3E4EC 100%);
    text-shadow: 0px 1px 0px #ddeff5;
}

button.glass, 
.button.glass {
    box-shadow: 0px 1em 0px 0px rgba(255, 255, 255, .5) inset;
}

/* Multi list selection. FOR TESTING ONLY, PLEASE USE JAVASCRIPT INSTEAD */

button.multi,
.button.multi {
    position: relative;
    overflow: visible;
}
button.multi:after,
.button.multi:after {
    border-color: attr(fontColor);
    border-right-color: transparent;
    border-left-color: transparent;
    border-bottom-color: transparent;
    border-width: 4px;
    border-style: solid;
    content: "";
    display: inline-block;
    position: relative;
    top: 1px;
    left: 2px;
    width: 0px;
    height: 0px;
}
button.multi.left:hover,
.button.multi.left:hover {
    border-top-left-radius: 1em;
    border-bottom-left-radius: 0;
}
button.multi.middle:hover,
.button.multi.middle:hover {
    border-radius: 1em 1em 0 0;
}
button.multi.right:hover,
.button.multi.right:hover {
    border-top-right-radius: 1em;
    border-bottom-right-radius: 0;
}

button.multi > ul,
.button.multi > ul {
    display: none;
    position: absolute;
    top: 2.2em;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    border-bottom-left-radius: .5em;
    border-bottom-right-radius: .5em;
}
button.multi:hover > ul,
.button.multi:hover > ul {
    display: block;
}
button.multi:hover > ul > input[type=checkbox],
button.multi:hover > ul > input[type=radio],
.button.multi:hover > ul > input[type=checkbox],
.button.multi:hover > ul > input[type=radio] {
    display: none;
}
button.multi:hover > ul > input[type=checkbox]:checked + li,
.button.multi:hover > ul > input[type=checkbox]:checked + li,
button.multi:hover > ul > input[type=radio]:checked + li,
.button.multi:hover > ul > input[type=radio]:checked + li {
    background: #EEE;
    color: #444;
    color: rgba(0, 0, 0, .7);
    text-shadow: #FFF 1px 1px 1px;
    box-shadow: inset 0px 1px 1px 0px rgba(255, 255, 255, .5);
    cursor: pointer;
}
button.multi:hover > ul > li,
.button.multi:hover > ul > li {
    min-height: 2em;
    line-height: 2em;
    background: #FAFAFA;
    color: #555;
    text-shadow: #FFF 1px 1px 1px;
    border: 1px transparent solid;
    border-bottom: 1px #EEE solid;
    border: 1px rgba(0, 0, 0, .1) solid;
    border-top-color: transparent;
}
button.multi > ul > li:hover,
.button.multi > ul > li:hover {
    background: #DDD;
    color: #444;
    color: rgba(0, 0, 0, .7);
    text-shadow: #FFF 1px 1px 1px;
    box-shadow: inset 0px 1px 1px 0px rgba(255, 255, 255, .5);
    cursor: pointer;
}
button.multi > ul > li:hover > label,
.button.multi > ul > li:hover > label {
    cursor: pointer;
    width: 100%;
    height: 100%;
}
button.multi > ul.white-blue > li,
.button.multi > ul.white-blue > li {
    background: #FAFAFA;
    color: #555;
    text-shadow: #FFF 1px 1px 1px;
    border: 1px transparent solid;
    border-bottom: 1px #EEE solid;
    border: 1px rgba(0, 0, 0, .1) solid;
    border-top-color: transparent;
}
button.multi > ul.white-blue > li:hover,
.button.multi > ul.white-blue > li:hover {
    background: #19a7f5;
    background: -moz-linear-gradient(top, #19a7f5 0%, #53cbf1 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#19a7f5), color-stop(100%,#0886fc));
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#19a7f5', endColorstr='#0886fc',GradientType=0 );
    color: #FFF;
    border: 1px #648ced solid;
    text-shadow: #555 1px 1px 1px;
    box-shadow: inset 0px 1px 1px 0px rgba(255, 255, 255, .5);
}
button.multi:hover > ul > li:last-child,
.button.multi:hover > ul > li:last-child {
    border-bottom-left-radius: .5em;
    border-bottom-right-radius: .5em;
}
